<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">


      @!component('layouts.productentry', presenter = 'ApiCaller')

      CART - {{cart}}

      @if(cart.length > 0)
      @each(product in cart )
      <div class = "subtitle">
        <p>{{ product.name }} [{{ product.quantity }}]</p>
      </div>
      @endeach
      @else
      <div class = "subtitle">
        <p>No Items In Shopping Cart</p>
      </div>
      @endif


    </div>
  </section>




</body>
</html>
